body {
    font-family: 'Arial', sans-serif;
  text-align: center;
}
.timer-container {
    text-align: center;
}

#timer {
    font-size: 3em;
    margin: 10px 0;
}

button {
    font-size: 1em;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}

h1{
    color:brown
}