body {
    font-family: "Times New Roman";
  
   text-align: center;
   background-color: #003314
 }
 .timer-container {
     text-align: center;
 }
 
 #timer {
     font-size: 3em;
     margin: 10px 0;
 }
 
 button {
     font-size: 1em;
     background-color: #003314;
    font-family: "Times New Roman";
     padding: 10px 20px;
     margin: 5px;
     cursor: pointer;
     color: bisque;
     
      
 }
 
 h1{
     color:whitesmoke;
   font-size: 4em;
   padding: 0px
   
 }
 
 p{
   color:bisque;
   font-size:1.75em;
   padding: 0px;
     
 }

#rain-image {
    width: 50%;
    padding: 30px
    }


#footer {
    color: whitesmoke;
    font-size: 1em;
    text-align: center;
    font-family: "Times New Roman";
    padding: 0px;
    margin: 0px;
    }


#myDIV {
   
    text-align: center;
    color:whitesmoke;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
    box-sizing: border-box;
    background-color: #4b6043;
    padding: 10px
}

ul {
    margin: 0;
    padding: 0;
  }

  ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #658354;
    font-size: 18px;
    transition: 0.2s; 
    text-align: center;
    

    -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  }

  ul li:hover {
    background: #4b6043;
  }

  ul li.checked {
    background: #4b6043;
    color: #fff;
    text-decoration: line-through;
  }

  ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }

  .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
  }
  
  .close:hover {
    background-color: #4b6043;
    color: bisque;
  }


  .addBtn:hover {
    background-color: #658354;
  }

  #myUL {
    margin: 0;
    padding: 0;
    color:#003314;
    font-variant: bold;
    font-size: small;
  }

  footer {
    color: #658354;
    font-size: 1em;
    .addBtn:hover {
        background-color: bisque;
      }
  }


